@import "~normalize.css";
@import "fonts.scss";

@mixin flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;
  @include flex;

  .welcome {
    font-family: $lobster;
  }
}